<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stail.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <p>Curso Flask 2021 padre</p>
            </div>
        </div>
    </footer>
</body>
</html>