{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}

{%  block content %}
    {% from "_macro.html" import render_field %}
    
    <form method="POST">
        <!-- Puedo agregar clases dentro del render_field:
        render_field(form.username, class='algo') -->
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.comment) }}
        {{ render_field(form.honeypot) }}
        <!-- {{ form.honeypot }} -->
        <button>Send</button>
    </form>
{% endblock %}